.button {
  margin: 10px;
  font-size: 1.1em;
  padding: 6px;
 
}
.main {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.buttonContainer{
    display:flex;
    justify-content: space-between;

}

.search input {
  margin: 2px;
  border-radius: 5px 5px;
  font-size: 1.5em;
  height: 90%;
  width: 100%;
}


.search input:focus {
  border: 2px solid white;
  box-shadow: 2px 2px 2px white;
}
@media (max-width: 400px) {
  .main {
    width: 33%;
  }
  .button {
    width: auto;
    height: auto;
    max-height: 50px;
  }
  .search input{

    height:60px;
  }
}
